@charset "UTF-8";

*{
    
    background-attachment: fixed;
}
body{
    background-image: linear-gradient(to bottom, #488BF9, #FFE46A, #2D0A6E);
}
main{
    background-color: #fff19f;
    border-radius: 10px;
    box-shadow: 8px 6px 15px #eab92483;
    width: 500px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #E4AC20;
}
h2{
    color: #AEA7B7;
}
p{
    text-align: justify;
}