@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Meie+Script&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Meie+Script&family=Passion+One:wght@400;700;900&family=Yellowtail&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Yellowtail', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1)
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}
header p{
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 1.85em;
}
section p{
    padding-bottom: 2em;

}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(36, 36, 36);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.414);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url('pacote-d012/imagens/background001.jpg');
    background-position: right center;
}
section#img02{
    background-image: url('pacote-d012/imagens/background002.jpg');
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}