@charset "UTF-8";

body{
    height: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, orange, cyan);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-image: linear-gradient(to right, #EC9703, #82FFFF);
    text-align: center;
}

h2#HTML{
    color: #FC6A03;
}

h2#CSS{
    color:#005F6A
}

/*
HTML = ID, class
CSS = #, .
*/