@charset "UTF-8";

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}
caption{
    font-size: 1.5em;
    font-weight: bolder;
}
th, td{
    border: 1px solid black;
    padding: 7px;
}
thead, tfoot{
    background-color: rgb(99, 99, 99);
    color: white;
}
thead > tr > th{
    position: sticky;
    top: 0;
    background-color: rgb(99, 99, 99);
}
tbody tr:nth-child(even){
    background-color: gainsboro;
}
tr > th{
    background-color: rgb(99, 99, 99);
    color: white;
}
.num{
    text-align: right;
}