@charset "UTF-8";


body{
            background-color: blanchedalmond;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
        }
        h1{
            color: coral;
        }
        p{
            text-align: justify;
        }